/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&family=Nunito:wght@200..1000&family=Quicksand:wght@300..700&display=swap");

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
}

/* General styles */
:root {
    --primary-font: "Nunito", sans-serif;
    --secondary-font: "Quicksand", sans-serif;
    --primary-color: #e5d7c7; /* Light Beige */
    --secondary-color: #228b22; /* Light Green */
    --third-color: #bae9f2; /* Light Blue */
    --highlight-color: #fed8b1; /* Light Peach */
    --highlight-color-light: #8a9a5b; /* Olive Green */
    --text-color: #004953; /* Dark Green */
}

/*navbar styling*/
.navbar {
  margin: 0;
  padding: 0;
  border: none;
}

#navbar {
  background-color: var(--primary-color); 
  margin: 0;
  padding: 0.5rem 1rem;
  border: none;
}

.container-fluid {
  padding: 0;
}

/* Header, main, and footer styles */
/*header styles*/
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/HeroImage.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--highlight-color); /* Light Peach */
    padding: 8rem 0;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.3);
    font-family: var(--secondary-font);
}

/*main styles*/
main {
  background-color: var(--third-color); /* Light Blue */
  /* make element fill the remaining space */
  flex: 1 0 auto;
  margin: 0;
  padding: 1rem;
}

/*footer styles*/
footer {
  background-color: var(--primary-color); /* Light Beige */
  margin: 0;
  padding: 1rem;
}
