/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    background-color: #f0f4f8; /* Light background for calmness */
    color: #048c6c;
}